.category-view {
  width: 1200px;
}

.breadcrumb-view {
  padding: 4px 0 16px;
}

.banner-view {
  position: relative;
  height: 120px;
  margin-bottom: 10px;
  overflow: hidden;
  img {
    width: 100%;
    height: 120px;
    object-fit: fill;
  }

  %carousel-btn {
    position: absolute;
    width: 28px;
    height: 44px;
    top: 50%;
    margin-top: -22px;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #333333;
    opacity: 0.3;
    &:hover {
      opacity: 0.6;
    }
  }
  .carousel-btn-prev {
    @extend %carousel-btn;
    left: 0;
    justify-content: left;
    padding-left: 4px;
    border-radius: 0 5px 5px 0;
  }
  .carousel-btn-next {
    @extend %carousel-btn;
    right: 0;
    justify-content: right;
    padding-right: 4px;
    border-radius: 5px 0 0 5px;
    // border-right: none;
  }
  .ant-carousel {
    .slick-dots-bottom {
      bottom: 0px;
    }
    .slick-dots {
      margin-left: 40%;
      margin-right: 40%;
      li button {
        width: 6px;
        height: 6px;
        border-radius: 50%;
      }
    }
  }
}

.filter-container {
  width: 186px;
  margin-right: 20px;

  .filter-title,
  .category-title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 8px;
    // font-size: 13px;
  }
  .category-item {
    color: #777777;
    font-weight: normal;
    display: block;
    line-height: 1.5em;
    // margin: 0;
    &:hover {
      color: #bbbbbb;
    }
  }
  .price-filter {
    .input-field {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
      input {
        width: 45%;
      }
    }
    button {
      width: 100%;
      background-color: #fd3737;
      color: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 3px;
      padding: 2.5px;
      margin-bottom: 8px;
      &:active {
        background-color: #ffffff;
        color: #fd3737;
        border: 1px solid #fd3737;
      }
    }
  }
  .rating-filter {
    .ant-rate {
      font-size: 12px;
    }
    .rating-text {
      font-size: 12px;
      margin-top: 2px;
      margin-left: 6px;
      color: #666666;
      white-space: nowrap;
    }
    button {
      background-color: inherit;
      // padding-bottom: 4px;
      border: none;
      display: flex;
      margin: 3px;
      justify-content: flex-start;
      padding: 0 10px 3px;
      width: 90%;
      align-items: center;
      border: 0.5px solid #ffffff;
      border-radius: 15px;
    }
    button.rate-active {
      border: 0.5px solid #dddddd;
      box-shadow: 0.5px 0.5px 0.5px #cccccc;
      background-color: #dddddd;
    }
  }
  .divider-line {
    border-bottom: 1.6px solid #777777;
    margin: 10px 0;
  }
}

.product-list-view {
  width: 994px;

  .product-list-card {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #cccccc;

    .product-list-card-header {
      display: flex;
      border-bottom: 1px solid #999999;

      .tabs-link {
        width: 130px;
        text-align: center;
        border: inherit;
        background-color: inherit;
      }
      .active {
        color: #ff0707;
        font-weight: 600;
        border-bottom: 2px solid #ff0707;
      }
    }

    .product-list-card-body {
      display: grid;
      grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
      justify-content: space-between;
    }
  }
}

.product-list-pagination {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}
